@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;

}

a{
    text-decoration: none;
    color:white;
}

.container{
    background-image: url(./img/banner.jpg);
    height: 100vh;
}